name: pharmacy

description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.5.3

dependencies:
  flutter:
    sdk: flutter
  firebase_core: ^2.30.1

  firebase_database: ^10.5.4
  firebase_auth: ^4.19.5
  intl: ^0.19.0
  email_validator: ^2.0.1
  image_picker: ^1.0.4
  provider: ^6.1.2
  cupertino_icons: ^1.0.8
  mailer: ^6.5.0

  firebase_storage: ^11.5.0


dev_dependencies:
  flutter_test:
    sdk: flutter


  integration_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/
